@charset "UTF-8";
/* googoe fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rwd img css */
img {
  vertical-align: middle; /* 消除 img 的空白 */
  max-width: 100%;
  height: auto;
}

/* css reset */
/* 全域 border box */
*, *::before, *::after {
  box-sizing: border-box;
  /* outline: solid 1px magenta; */
}

/* 全站設定 */
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #FBFBFB;
}

h1 {
  font-size: clamp(3.25rem, 2.2184rem + 4.4013vw, 7.5rem); /* 用 https://clamp.font-size.app/ 產生的 */
  font-weight: 900;
  color: #0027D5;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
a:hover {
  color: #E51737;
  transition: 0.2s;
}

p {
  margin-bottom: 8px;
  font-weight: 500;
}

section {
  margin-bottom: 24px;
}

.border-top {
  border-top: 1px solid #6C757D;
}

.border-bottom {
  border-bottom: 1px solid #6C757D;
}

/* hashtag */
.hashtag {
  display: inline-block;
  font-size: 24px;
  color: #0027D5;
  font-weight: 500;
  margin-right: 8px;
}

/* 藍色圓角按鈕 */
.btn-primary {
  display: inline-block;
  border: solid 1px #0027D5;
  background-color: #0027D5;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
  vertical-align: top;
}
.btn-primary:hover {
  background-color: #fff;
  color: #0027D5;
  transition: 0.2s;
}

/* 白色按鈕 */
.btn-white {
  border: solid 1px #000;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 8px 16px;
}
.btn-white:hover {
  border: solid 1px grey;
  background-color: grey;
  color: white;
  transition: 0.2s;
}

/* 灰色圓角框 */
.bubble-grey {
  border: solid 1px #EDEDED;
  background-color: #EDEDED;
  font-weight: 700;
  border-radius: 20px;
  padding: 24px;
  margin: 24px 0px;
}

/* 藍色文字 */
.primary {
  color: #0027D5;
}

/* 文字有底線 */
.decoration {
  text-decoration: underline;
}

/* 只顯示前二行，後面... */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 全站設定 */
.container {
  max-width: 100vw;
  padding: 0 12px; /* 不要貼齊螢幕邊緣 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 表頭 */
.header {
  display: flex;
  font-size: 28px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* 表尾 */
.footer {
  width: 100%;
  text-align: center;
}

/* 下方的連絡資訊 */
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 如果畫面變小，自動換行 */
  padding-top: 80px;
  padding-bottom: 80px;
}

/* email */
.email {
  display: inline-block;
  width: 50%;
  font-size: clamp(1rem, 0.6466rem + 1.5038vw, 2rem); /* https://clamp.font-size.app/ */
  font-weight: 500;
  color: #000;
}

.box {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* 五個社交媒體的 icons */
.icons {
  max-width: 236px;
  display: flex;
  justify-content: space-between;
}

/* 最底下的表尾 */
.copyrights {
  font-weight: 500;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: white;
}
.copyrights p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 768px) {
  /*
  .banner {
      flex-direction: column;

      .banner_img {
          width: 100%;
      }
      .about-wrapper {
          width: 100%;
          padding: 48px 12px;
      }
  }
  */
  .content {
    padding-top: 40px; /* 24 = h2 的 margin-top */
  }
  .navigation {
    padding-bottom: 64px;
  }
}
@media (max-width: 376px) {
  .contact {
    display: none;
  }
}
/* layout */
.banner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.banner .banner_img {
  width: 50vw;
}
.banner .about-wrapper {
  width: 50vw;
  display: flex;
  align-items: center;
}
.banner .about-wrapper .about {
  max-width: 636px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .about-wrapper h2 {
  margin-top: 8px;
}

time {
  display: block;
  font-weight: 500;
}

/* 文章內容 */
.content {
  max-width: 636px;
  padding-top: 56px; /* 24 = h2 的 margin-top */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .item img {
  transition: transform 0.2s ease-out; /* 讓動畫效果效得平滑 */
}
.content .item img:hover {
  transform: scale(1.02);
  filter: blur(1px);
}

.items {
  max-width: 636px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
  /* 延伸閱讀 */
}
.items h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0027D5;
  margin-top: 24px;
  margin-bottom: 24px;
}
.items h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 12px;
}
.items .ext {
  list-style: disc;
}

/* 上一頁、下一頁 */
.navigation {
  max-width: 636px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .banner {
    padding-right: 12px;
  }
  .banner .banner_img {
    width: 50vw;
  }
  .banner .about-wrapper {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .content {
    padding-top: 40px; /* 24 = h2 的 margin-top */
  }
  .navigation {
    padding-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .banner {
    flex-direction: column;
  }
  .banner .banner_img {
    width: 100%;
  }
  .banner .about-wrapper {
    width: 100%;
    padding: 48px 12px;
  }
}
.wrapper {
  width: 100%;
  height: auto;
}

.banner .about p {
  margin: 8px 0px;
}

.btn-wrapper {
  margin: 16px 0px;
}

.heroSection {
  max-width: 100%;
  height: calc(100svh - 90px); /* svh: 扣掉網址列與工具列的可視區域高度 */
  display: flex;
  justify-content: center;
}
.heroSection h2 {
  color: #0027D5;
  margin-top: 12px;
}
.heroSection .photo {
  width: 50vw;
  background-image: url("../images/desktop/index/Hero Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.heroSection .intro {
  width: 50vw;
  background-image: url("../images/desktop/index/Hero Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.blog-content {
  max-width: 1296px;
}

.cards .card-item .card-img {
  transition: transform 0.2s ease-out; /* 讓動畫效果效得平滑 */
}
.cards .card-item .card-img:hover {
  transform: scale(1.05);
  filter: blur(1px);
}

/* 分頁 */
.pagination-wrapper {
  margin-bottom: 80px;
}
.pagination-wrapper .pagination {
  display: flex;
  border: solid 1px #fff;
  background-color: #fff;
  border-radius: 30px;
  padding: 0px 20px;
  /* 正在閱讀的這一頁，滑鼠不能點 */
}
.pagination-wrapper .pagination li a {
  display: inline-block;
  width: 40px;
  text-align: center;
  padding: 8px 0px;
  margin: 8px 0px;
}
.pagination-wrapper .pagination a:hover {
  text-decoration: underline;
}
.pagination-wrapper .pagination a.focus-page {
  color: #0027D5;
  text-decoration: none;
  pointer-events: none; /* 禁止滑鼠點擊 */
  cursor: default; /* 換成一般滑鼠游標 */
}

/* 搜尋 */
.search-wrapper {
  width: 416px;
  margin-top: 80px;
  display: inline-block;
  /* 放大鏡 */
  /* 輸入文字框 */
}
.search-wrapper .bi {
  color: #4B4B4B;
}
.search-wrapper .input {
  border: 0px #fff;
  color: #4B4B4B;
  padding-left: 10px;
}
.search-wrapper .btn-white {
  padding-left: 20px;
}

/* 文章列表 ul */
.blog-content .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* li */
}
.blog-content .cards .card-item {
  display: block;
  width: 416px;
  margin: 40px 0px;
}
.blog-content .cards .article-wrapper {
  padding: 16px 0px;
}
.blog-content .cards .article-wrapper p {
  padding-top: 8px;
}

@media (max-width: 1440px) {
  /* 部落格內容 */
  .blog-content {
    /* 文章列表 ul */
  }
  .blog-content .search-wrapper {
    margin-left: 30px;
  }
  .blog-content .cards {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* li */
    /* 處理圖片 */
  }
  .blog-content .cards .card-item {
    display: block;
    width: 45%;
    margin: 40px 0px;
  }
  .blog-content .cards .img-wrapper {
    width: 100%;
    aspect-ratio: 416/200;
    object-fit: cover; /* 不希望圖片會變形，而是裁切中間部份 */
  }
  .blog-content .cards .img-wrapper .card-img {
    height: 100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  /* 部落格內容 */
  .blog-content .search-wrapper {
    width: 43.5vw;
    margin-left: 20px;
  }
  /* 形象照那邊 */
  .heroSection {
    display: block;
  }
  .heroSection .photo {
    width: 100%;
    height: calc(70svh - 90px);
  }
  .heroSection .intro {
    width: 100%;
    padding-left: 48px;
    height: 30svh;
  }
  .banner {
    /* 992px 以下，維持照片高度，顯示正方型比例 */
  }
  .banner .img-wrapper {
    height: 407px;
    aspect-ratio: 1/1;
  }
  .banner .img-wrapper .banner_img {
    height: 100%;
    width: 100%;
  }
}
/* 特調~ */
@media (max-width: 949px) {
  .blog-content .cards .card-item {
    /* 處理圖片 */
  }
  .blog-content .cards .card-item .img-wrapper {
    aspect-ratio: 351/200;
  }
}
@media (max-width: 768px) {
  .banner {
    gap: 16px;
    /* 768px 以下，維持照片高度，顯示正方型比例 */
  }
  .banner .img-wrapper {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .heroSection .intro {
    padding-left: 24px;
  }
  /* 576px 以下變成單欄顯示，圖片調整為 1:1 */
  .banner {
    padding-right: 0px;
  }
  .banner .img-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .banner .img-wrapper .banner_img {
    width: 100%;
    height: 100%;
  }
  /* 部落格內容，768px 以下單欄顯示 */
  .blog-content {
    /* 搜尋 */
    /* 文章列表 ul */
  }
  .blog-content .search-wrapper {
    width: 100%;
    margin-left: 0px;
  }
  .blog-content .cards .card-item {
    width: 100%;
  }
}
/*

@import "blog";
*//*# sourceMappingURL=all.css.map */