.wrapper {
    width: 100%;
    height: auto;
}
.banner .about {
    p {
        margin: 8px 0px;
    }
}

.btn-wrapper {
    margin: 16px 0px;
}

.heroSection {
    
    max-width: 100%;
    height: calc(100svh - 90px);    /* svh: 扣掉網址列與工具列的可視區域高度 */
    display: flex;
    justify-content: center;

    h2 {
        color: $color-primary;
        margin-top: 12px;
    }

    .photo {
        width: 50vw;
        background-image: url("../images/desktop/index/Hero Section.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    }

    .intro {
        width: 50vw;
        background-image: url("../images/desktop/index/Hero Section2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;
    }
}


.blog-content {
    max-width: 1296px;
}


/* 分頁 */
.pagination-wrapper {

    margin-bottom: 80px;

    .pagination {
        display: flex;
        border: solid 1px #fff;
        background-color: #fff;
        border-radius: 30px;
        padding: 0px 20px;
        
        li a {
            display: inline-block;
            width: 40px;
            text-align: center;
            padding: 8px 0px;
            margin :8px 0px;
        }

        a:hover {
            text-decoration: underline;
        }

        /* 正在閱讀的這一頁，滑鼠不能點 */
        a.focus-page {
            color: $color-primary;
            text-decoration: none;
            pointer-events: none;   /* 禁止滑鼠點擊 */
            cursor: default;       /* 換成一般滑鼠游標 */
        }
    }
}



/* 搜尋 */
.search-wrapper {
    width: 416px;
    margin-top: 80px;
    display: inline-block;

    /* 放大鏡 */
    .bi {
        color: $color-grey2;
    }

    /* 輸入文字框 */
    .input {
        border: 0px #fff;
        color: $color-grey2;
        padding-left: 10px;
    }
    
    .btn-white {
        padding-left: 20px;
    }
}


/* 文章列表 ul */
.blog-content .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    /* li */
    .card-item {
        display: block;
        width: 416px;
        margin: 40px 0px;
    }

    .article-wrapper {
        padding: 16px 0px;

        p {
            padding-top: 8px;
        }
    }

}



@media (max-width: 1440px) {

    
    /* 部落格內容 */
    .blog-content {

        .search-wrapper {
            margin-left: 30px;
        }

        /* 文章列表 ul */
        .cards {
            width: 100%;
            justify-content:space-evenly;
            flex-wrap: wrap;

            /* li */
            .card-item {
                display: block;
                width: 45%;
                margin: 40px 0px;
            }


            /* 處理圖片 */
            .img-wrapper {
                width: 100%;
                aspect-ratio: 416/200;
                object-fit: cover;          /* 不希望圖片會變形，而是裁切中間部份 */
            
                .card-img {
                    height: 100%;
                    max-width: 100%;
                }
            }
        }
    }


}



@media (max-width: 992px) {

    /* 部落格內容 */
    .blog-content {
        .search-wrapper {
            width: 43.5vw;
            margin-left: 20px;
        }
    }


    /* 形象照那邊 */
    .heroSection {
        display: block;
        
        .photo {
            width: 100%;
            height: calc(100svh - 30svh - 90px);

        }

        .intro {
            width: 100%;
            padding-left: 48px;
            height: 30svh;
        }
    }


    .banner {

        /* 992px 以下，維持照片高度，顯示正方型比例 */
        .img-wrapper {
            height: 407px;
            aspect-ratio: 1/1;
        
            .banner_img {
                height: 100%;
                width: 100%;
            }
        }
    }

}


/* 特調~ */
@media (max-width: 949px) {
    .blog-content .cards .card-item { 

        /* 處理圖片 */
        .img-wrapper {
            aspect-ratio: 351/200;
        }
    }
}



@media (max-width: 768px) {

    .banner {
        gap: 16px;

        /* 768px 以下，維持照片高度，顯示正方型比例 */
        .img-wrapper {
            height: 350px;
        }
    }


}


@media (max-width: 576px) {

    .heroSection .intro {
        padding-left: 24px;
    }
    
    /* 576px 以下變成單欄顯示，圖片調整為 1:1 */
    .banner {
        padding-right: 0px;
        
        .img-wrapper {
            width: 100%;
            aspect-ratio: 1/1;
        
            .banner_img {
                width: 100%;
                height: 100%;
            }
        }
    }

    /* 部落格內容，768px 以下單欄顯示 */
    .blog-content {

        /* 搜尋 */
        .search-wrapper {
            width: 100%;
            margin-left: 0px;
        }

        /* 文章列表 ul */
        .cards .card-item {
            width: 100%;
        }
    }

}