.wrapper {
    width: 100%;
    height: auto;
}
.banner .about {
    p {
        margin: 8px 0px;
    }
}

.btn-wrapper {
    margin: 16px 0px;
}

.heroSection {
    
    max-width: 100%;
    height: calc(100svh - 90px);    /* svh: 扣掉網址列與工具列的可視區域高度 */
    display: flex;
    justify-content: center;

    h2 {
        color: $color-primary;
        margin-top: 12px;
    }

    .photo {
        width: 50vw;
        background-image: url("../images/desktop/index/Hero Section.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    }

    .intro {
        width: 50vw;
        background-image: url("../images/desktop/index/Hero Section2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;
    }
}


.blog-content {
    max-width: 1296px;
}


/* 分頁 */
.pagination-wrapper {

    margin-bottom: 80px;

    .pagination {
        display: flex;
        border: solid 1px #fff;
        background-color: #fff;
        border-radius: 30px;
        padding: 0px 20px;
        
        li a {
            display: inline-block;
            width: 40px;
            text-align: center;
            padding: 8px 0px;
            margin :8px 0px;
        }

        a:hover {
            text-decoration: underline;
        }

        /* 正在閱讀的這一頁，滑鼠不能點 */
        a.focus-page {
            color: $color-primary;
            text-decoration: none;
            pointer-events: none;   /* 禁止滑鼠點擊 */
            cursor: default;       /* 換成一般滑鼠游標 */
        }
    }
}



/* 搜尋 */
.search-wrapper {
    margin-top: 80px;
    display: inline-block;

    /* 放大鏡 */
    .bi {
        color: $color-grey2;
    }

    /* 輸入文字框 */
    .input {
        border: 0px #fff;
        color: $color-grey2;
        padding-left: 10px;
    }
}


/* 文章列表 ul */
.blog-content .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    /* li */
    .card-item {
        display: block;
        width: 416px;
        margin: 40px 0px;
    }

    .article-wrapper {
        padding: 16px 0px;

        p {
            padding-top: 8px;
        }
    }

}



@media (max-width: 1440px) {

    /* 部落格內容 */
    .blog-content {

        /* 文章列表 ul */
        .cards {
            width: 100%;
            justify-content:space-evenly;
            flex-wrap: wrap;

            /* li */
            .card-item {
                display: block;
                width: 45%;
                margin: 40px 0px;
            }
        }
    }

}



@media (max-width: 992px) {

    /* 形象照那邊 */
    .heroSection {
        display: block;
        /*height: 100%;*/
        
        .photo {
            width: 100vw;
            height: calc(100svh - 30svh - 90px);

        }

        .intro {
            width: 100vw;
            padding-left: 48px;
            height: 30svh;
        }
    }

}


@media (max-width: 768px) {

    .banner {
        padding-right: 0px;

        .img-wrapper {
            width: 100%;
            aspect-ratio: 1/1;      /* 調整裡面的圖片變成 1:1 */
        
            .banner_img {
                width: 100%;
                height: 100%;
            }
        }

        .about-wrapper {

            .about {
                max-width: 100%;
            }

        }
    }






}


@media (max-width: 576px) {

    .heroSection .intro {
        padding-left: 24px;
    }

    /* 部落格內容，768px 以下單欄顯示 */
    .blog-content {

        /* 文章列表 ul */
        .cards {

            /* li */
            .card-item {
                width: 100%;
            }
        }
    }
    
}