.banner {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;

    .banner_img {
        width: 48vw;
    }

    .about {
        width: 48vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        time {
            display: block;
            font-weight: 500;
        }
        p {
            font-size: 28px;
            font-weight: 700;
            margin-top: 8px;
        }
    }
}





/* 文章內容 */
.content {
    max-width: 636px;
    padding-top: calc(80px - 24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items {
    max-width: 636px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
  
    h2 {
        font-size: 28px;
        font-weight: 700;
        color: $color-primary;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    /* 延伸閱讀 */
    .ext {
        list-style: disc;
    }

}


/* 上一頁、下一頁 */
.navigation {
    max-width: 636px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 80px;
}


@media (max-width: 768px) {

    .banner {
        flex-direction: column;

        .banner_img {
            width: 100%;
        }
        .about {
            width: 100%;
        }
    }
}

/*
@media (max-width: 376px) {

    .banner {
        flex-direction: column;

        .banner_img {
            width: 100%;
        }
        .about {
            width: 100%;
        }
    }
}
*/